#container {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Helvetica', sans-serif;
    position: relative;
    top: 60px;
    text-rendering: optimizeLegibility;
    line-height: 16px;
    color: darkslategrey;
}

h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    position: relative;
    top: 40px;
    left: 2%;
    color: peru;
}